@import "../breakpoints";
@import "../mixins";
@import "../variables";

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  color: var(--primary);
  background: var(--black);

  @include media("<=tablet") {
    padding: 32px;
  }
}